#titulo{
    font-size: 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-style: italic;
}
.container-conteudo{
display: flex;
gap: 20px;
background-color: orange;
padding: 20px;
border-radius: 10px;
font-family: 'Arial', sans-serif;

}
.grupo-texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bloco-destaque ol{
    padding-left: 20px;
    margin-top: 15px;

    
}
.bloco-destaque li{
    margin-bottom: 15px;
    line-height: 1.5;
}

.paragrafo{
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}
img{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) ;

}

.destaque-do-filme{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
}

.curiosidade{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

ul{
     padding-left: 20px;
    margin-top: 15px;

}

    li{
 margin-bottom: 15px;
    line-height: 1.5;

    }

    .frase-final{
        text-align: center;
        font-size: 20px;
        font-style: italic;
        margin-top: 20px;
         background-color: orange;


    }

    a{
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: blue;
        text-decoration: underline;
    }

    .titulo{
        text-align: center;
        font-size: 30px;
    }

    th, td {
        width: 10%;
        border-collapse: collapse;
        margin-top: 20px;
    }